{% extends "students/student-base.html" %}
{% load static %}


{% block student_content %}
<div class="col-xl-8 col-lg-7">
        <span class="fs-4">Dashboard</span>
        <hr>
    <div class="events-list__inner">
                <h5 class="event-details__details-box-title text-center">Dashboard Content</h5>

                {% if default_device %}
                {% else %}
                <div class="login-register__warning">
                    <h4><strong class="text-danger">Your Account is not Secure. Please activate <a href="{% url 'two_factor:profile' %}">Two-Factor Authentication</a> to secure it</strong></h4>
                </div>
                {% endif %}
    </div>
</div>
{% endblock %}