{% extends "students/student-base.html" %}
{% load static %}


{% block student_content %}
<div class="col-xl-8 col-lg-7">
        <span class="fs-4">Dashboard</span>
        <hr>
    <div class="events-list__inner">
        <!--Events List Single Start-->
        <div class="events-list__single">
            <div class="events-list__left">
                <h5 class="event-details__details-box-title text-center">Dashboard Content</h5>

            </div>
        </div>
        <!--Events List Single End-->
    </div>
</div>
{% endblock %}