{% extends "students/student-base.html" %}
{% load static %}


{% block student_content %}
<div class="col-xl-8 col-lg-7">
        <span class="fs-4">Dashboard</span>
        <hr>
    <div class="events-list__inner">
        <!--Events List Single Start-->
        <div class="events-list__single">
            <div class="events-list__left">
                <div class="events-list__img">
                    <img src="{% static 'images/team/team-1-2.jpg' %}" alt="">
                </div>
                <div class="event-details__sidebar" style="width: 100%;">
                    <div class="event-details__details-box">
                        <h5 class="event-details__details-box-title">Account Details</h5>
                        <ul class="list-unstyled event-details__details-box-list">
                            <li>
                                <div class="left">
                                    <p>Full Name: &nbsp;</p>
                                </div>
                                <div class="right">
                                    <p>&nbsp; {{ user.first_name }} {{ user.last_name }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <p>Phone Number: &nbsp;</p>
                                </div>
                                <div class="right">
                                    <p>&nbsp; +2348064732356</p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <p>Email:</p>
                                </div>
                                <div class="right">
                                    <p>&nbsp; {{ user.email }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <p>Phone:</p>
                                </div>
                                <div class="right">
                                    <p><a href="tel:926668880000">92 666 888 0000</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <p>Website:</p>
                                </div>
                                <div class="right">
                                    <p><a class="clr-primary" href="mailto:Info@event.com">Info@event.com</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <p>Location:</p>
                                </div>
                                <div class="right">
                                    <p class="clr-base">8 Street, San Marcos <br>
                                        London D29, UK</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="events-list__btn-box">
                        <a href="#" class="thm-btn events-list__btn">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Events List Single End-->
    </div>
</div>
{% endblock %}